.header-icon{
    display: inline-block;
    margin-left: 30px;
}
.icon1:hover{
    color: white;
}

.header-velcome{
    display: inline-block;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
}
header{
    background-color: #ffdd0b;
    margin-bottom: 30px;
}
.container-add-comment{
    margin-bottom: 20px;
}
.add-comment{
    border: 1px solid #9eff0f;
    background-color: rgba(0, 255, 18, 0.15);
    padding-bottom: 10px;
}

.add-comment label{
    margin-top: 10px;
    margin-bottom: -20px;
}
.add-comment hr{
    margin-top: 0px;
    background-color: #00ff2c;
    height: 1px;
    border: 0;
}

.add-comment textarea{
    width: 100%;
    height: 200px;
}

.container-add-comment{
    margin-bottom: 20px;
}
div .comment{
    background-color: rgba(0, 255, 18, 0.15);
    border: 3px solid #00ff2c;
}
.comment-head{
    border-bottom: 3px solid #00ff2c;
    background-color: rgba(0, 255, 44, 0.35);
}
.comment-text{
    border: 1px solid #00ff2c;


}
.full-comment{
    margin-bottom: 10px;
}

.errors{
    color: red;
    text-align: center;
}

.form-slide{
    margin-top: 20px;
}

.visible1{
    display: none;
}

.btn-show{
    float: right;
    display: inline-block;

}